name: coder co custom action CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: hello world custom action
        uses: Marwaa-m/coderco-custom@main
        with:
          who-to-greet: 'Coderco team'

      